<div class="row">
        
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/abraham.jpg" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Development Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de MI</h1>
            <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, accusamus sunt officiis nam maiores voluptatem labore nesciunt culpa, deserunt, saepe autem consequatur dolores. Ullam amet aliquid sit mollitia, eius deleniti?</P>
        </span>
    </div>
</div>

