<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>EDUCACION 1</h1>
                - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae quasi illo incidunt rerum esse excepturi beatae facilis harum, quos aut aliquam repudiandae, nesciunt laborum iure obcaecati ex eum ipsa.</p>
        </ul>
        <ul>
            <li>
                <h1>EDUCACION 2</h1>
                - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae quasi illo incidunt rerum esse excepturi beatae facilis harum, quos aut aliquam repudiandae, nesciunt laborum iure obcaecati ex eum ipsa.</p>
        </ul>
        <ul>
            <li>
                <h1>EDUCACION 3</h1>
                - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quae quasi illo incidunt rerum esse excepturi beatae facilis harum, quos aut aliquam repudiandae, nesciunt laborum iure obcaecati ex eum ipsa.</p>
        </ul>
    </div>
</div>
