<div>
    <div class="row ">
        <div class="col-9 logo">
            <img src="../../../assets/arg-programa.png" alt="" id="logoAP">
        </div>
        <div class="col-3 links">
            <a href=""><img src="../../../assets/facebook logo.png" alt=""></a>
            <a href=""><img src="../../../assets/discord-logo.png" alt=""></a>
            <a href=""><img src="../../../assets/logo github.png" alt=""></a>
            <a href=""><img src="../../../assets/linkendin-logo.png" alt=""></a>
            <a href=""><img src="../../../assets/logo_instagram.png" alt=""></a>
            <button type="button" class="btn btn-outline-dark btn-sm boton" (click)="login()">Ingresar</button>
        </div>
    </div>
</div>
